<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TRAVELBOT PAY</title>
</head>
<body>

  <!--click booking button and will redirect user to booking payment page in browser-->
<button id="payment" onclick="function()" value="BOOK YOUR TRIP">Book your trip</button>
<script type="text/javascript">
  function() {
    window.location.href= "https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-10W996715U024913V";
  };
</script>


</body>
</html>
