h2{
	color: black;
	font-weight: bold;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body{
	background: url("Sunset.jpg");
  text-align: center;
}

.niceButton {
	  border-radius: 25px;
	  width: 50%;
    border: 2px solid black;
    background: #5d8ffc;
    color: #fff;  
    padding: 8px 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out; }
.niceButton:hover {
  background: #fff;
  color: #5d8ffc;
	}

.UIaccess{
  padding:40px;
  width: 350px;
  height: 300px;
  margin-top: 90px;
  margin-left: 180px;
  margin: 0 auto;
}
